# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data files
*.pdb
*.fasta
*.h5
*.pkl
*.npy
*.npz
data/raw/*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws/
*.pem
aws.json
credentials
credentials.csv
terraform.tfvars
*.auto.tfvars

# SageMaker
.ipynb_checkpoints/
*.sagemaker/
model/

# Ray
ray_results/
ray_logs/

# Environment
.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
